



#hero-box-1{
    position: absolute;
     top: '30%';
          left: '5%';
          width: '90%';
          max-width: '470px';

  }
#hero-box-2{
    position:absolute;
      bottom: '5%';
          right: '5%';
          width: '90%';
          max-width: '400px',

}